.envato-clear { clear: both; }
.envato-container {
	width: 160px;
	height: 160px;
	display: block;
	vertical-align: top;
	text-align: center;
	padding: 4px;
	float: left;
}
.envato-thumb-compact img {
	display: block;
	margin: 5px;
	float: left;
}
